<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
  <noscript>
    You need javascript enabled, fam.
  </noscript>
</body>
</html>