
<toggle-switch
  [collection]="collection"
  [headlineKey]="headlineKey"
  [idKey]="idKey"
  ></toggle-switch>

<!-- simulate a data change and/or UI change -->
<section *ngFor="let item of collection">
  <article *ngIf="item.active"
    [ngStyle]="{'background-color': item.color }">
    <h1>{{item.name}}</h1>
  </article>
</section>
