article {
  margin: 2rem;
  padding: 2rem;
  transition: background-color .5s ease-out;
  h1 {
    text-align: center;
    margin-top: 1rem;
    color: white;
  }
}

toggle-switch {
  margin-top: 3rem;
  --toggle-thumb-headline-color: lime;
}