<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <style>
    body {
      padding-top: 3rem;
      border: 1px solid blue;
     /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' onload='(function loadme () %7Bconsole.log('logging from SVG2');document.body.addEventListener('click', function () %7Bdocument.body.style.border = '3px solid red';console.log('we got a click!2');%7D);%7D)()' width='32' height='32' viewBox='0 0 32 32'%3E%3Ctitle%3Estar-full%3C/title%3E%3Cpath d='M32 12.408l-11.056-1.607-4.944-10.018-4.944 10.018-11.056 1.607 8 7.798-1.889 11.011 9.889-5.199 9.889 5.199-1.889-11.011 8-7.798z'%3E%3C/path%3E%3C/svg%3E");*/
      /*background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cscript%3E%0A(function loadme () %7Bconsole.log('logging from SVG');document.body.addEventListener('click', function () %7Bdocument.body.style.border = '3px solid red';console.log('we got a click!');%7D);%7D)()%0A%3C/script%3E%3Ctitle%3Estar-full%3C/title%3E%3Cpath d='M32 12.408l-11.056-1.607-4.944-10.018-4.944 10.018-11.056 1.607 8 7.798-1.889 11.011 9.889-5.199 9.889 5.199-1.889-11.011 8-7.798z'%3E%3C/path%3E%3C/svg%3E");*/
    }
    toggle-switch {
      /**
       * Examples of CSS custom property overrides.
       */
     /*--toggle-switch-bg-color: lime;
      --toggle-switch-box-shadow: inset 0 0 1.33rem blue;
      --toggle-switch-border-radius: 0.3rem;
      --toggle-switch-border-width: 10px;
      --toggle-switch-border-color: green;
      
      --toggle-thumb-color: purple;
      --toggle-thumb-bg-color: hsla(96, 100%, 24%, 0.5);
      --toggle-thumb-gutter: 3rem;
      --toggle-thumb-border-radius: 1rem;
      --toggle-thumb-border: red solid 0.7rem;
      --toggle-thumb-border-width: red;
      --toggle-thumb-border-color: 0.7rem;
      --toggle-thumb-headline-color: cyan;
      --toggle-thumb-box-shadow: inset 0 0 1.33rem blue;

      --toggle-thumb-headline-color: purple;*/
    }
    toggle-list {
        --my-custom-var: green;
        --my-other-custom-var: orange;
    }
/*    [is="demo-button"] {
      height: 100px;
      width: 200px;
      color: black;
      background-color: yellow;
    }

    [is="demo-button"][active] {
      background-color: red;
    }
    [is="demo-button"][complete] {
      background-color: purple;
    }
    [is="demo-button"][disabled] {
      color: white;
      background-color: black;*/
    /*}*/
  </style>
</head>
<body>
<!--   <svg width="32" height="32" viewBox="0 0 32 32">
<script>
(function loadme () {console.log('logging from SVG');document.body.addEventListener('click', function () {document.body.style.border = '3px solid red';console.log('we got a click!');});})()
</script>
<title>star-full</title>
<path d="M32 12.408l-11.056-1.607-4.944-10.018-4.944 10.018-11.056 1.607 8 7.798-1.889 11.011 9.889-5.199 9.889 5.199-1.889-11.011 8-7.798z"></path>
</svg> -->
<!-- <svg onload="(function loadme () {console.log('logging from SVG2');document.body.addEventListener('click', function () {document.body.style.border = '3px solid red';console.log('we got a click!2');});})()" width="32" height="32" viewBox="0 0 32 32">
<title>star-full</title>
<path d="M32 12.408l-11.056-1.607-4.944-10.018-4.944 10.018-11.056 1.607 8 7.798-1.889 11.011 9.889-5.199 9.889 5.199-1.889-11.011 8-7.798z"></path>
</svg> -->
  <!-- Stage for demo and development of custom Web Component -->
  <!-- https://developer.mozilla.org/en-US/docs/Web/HTML/Element/template -->
  <template id="component-demo-stage">
    <style>
      section {
        display: block;
        border: 0.125rem solid #444;
        border-radius: 0.25rem;

        margin: 0.5rem
        padding: 1rem;
      }
      section 
    </style>
    <section><slot name="stage"><toggle-item headline="a default implementation"></toggle-item></slot></section>
  </template>
<button is="demo-button" status="disabled">Basic Button</button>
<styled-demo-button status="active"><h1>Styled Button</h1></styled-demo-button>
  <!-- <component-demo-stage></component-demo-stage> -->
<!--   <component-demo-stage>
    <style>
      [slot="stage"] {
        --my-custom-var: blue;
        --my-other-custom-var: yellow;
      }
    </style>
    <span slot="stage">
      <toggle-item headline="a custom implementation"></toggle-item>
    </span>
  </component-demo-stage> -->
  <!-- <toggle-item headline="hello"></toggle-item> -->

  <!-- <demo-stage headline="Loaded Data." color="purple"></demo-stage> -->

  <!-- <immutable-history mutable="only temporary..." immutable="hello from the html page"></immutable-history> -->

  <noscript>
    You need javascript enabled, fam.
  </noscript>
</body>
</html>