// SCSS Global Variables

$passive-heading-color: #999 !default;
$active-heading-color: #444 !default;

$font-family: Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol" !default;

// Custom Property Notes

// detection
@supports ( (--a: 0)) {
  /* supported */
}

@supports ( not (--a: 0)) {
  /* not supported */
}

// Read and Write with JavaScript
// /**
// * Gives a CSS custom property value applied at the element
// * element {Element}
// * varName {String} without '--'
// *
// * For example:
// * readCssVar(document.querySelector('.box'), 'color');
// */
// function readCssVar(element, varName){
//   const elementStyles = getComputedStyle(element);
//   return elementStyles.getPropertyValue(`--${varName}`).trim();
// }

// /**
// * Writes a CSS custom property value at the element
// * element {Element}
// * varName {String} without '--'
// *
// * For example:
// * readCssVar(document.querySelector('.box'), 'color', 'white');
// */
// function writeCssVar(element, varName, value){
//   return element.style.setProperty(`--${varName}`, value);
// }

// Tie to mouse 
// ```js
// // Events
// onMouseMove(e) {
//   this.worldXAngle = (.5 - (e.clientY / window.innerHeight)) * 180;
//   this.worldYAngle = -(.5 - (e.clientX / window.innerWidth)) * 180;
//   this.updateView();
// };

// onMouseWheel(e) {
//   /*…*/

//   this.worldZ += delta * 5;
//   this.updateView();
// };

// // JavaScript -> CSS
// updateView() {
//   this.worldEl.style.setProperty('--translateZ', this.worldZ);
//   this.worldEl.style.setProperty('--rotateX', this.worldXAngle);
//   this.worldEl.style.setProperty('--rotateY', this.worldYAngle);
// };
// ```

