@import './custom.scss';

// :host {
  // all: initial;
  // contain: content;

// }

.toggle-switch-wrapper {
  box-sizing: content-box;

  font-family: $font-family;
  -webkit-font-smoothing: antialiased;

  /*justify-content: space-evenly;*/
  justify-content: space-around;
  align-content: space-around;
  align-items: stretch;

  z-index: 1;
  position: relative;
  display: flex;
  flex: 1 1 auto;


  background-color: var(--toggle-switch-bg-color, #ececec);
  border: var(--toggle-switch-border-width, 0.125rem) solid var(--toggle-switch-border-color, #444);
  box-shadow: var(--toggle-switch-box-shadow, inset 0 0 0.33rem black);
  border-radius: var(--toggle-switch-border-radius, 1rem);
}

.toggle-thumb {
  box-sizing: content-box;
  /*opacity: 0;*/
  transition: transform .6s ease;
  z-index: 3;
  border-radius: 1rem;
  display: block;
  position: absolute;
  color: $passive-heading-color;
  background-color: var(--toggle-thumb-bg-color, #ececec);
  box-shadow:  var(--toggle-thumb-box-shadow, 0 0.33rem 0.33rem 0 rgba(0, 0, 0, 0.09));
  height: 100%;
  width: 100px;

  /* offet for padding and borders */
  top: calc(0rem - var(--toggle-thumb-gutter, 1.2rem) + var(--toggle-thumb-width, 0.125rem));
  left: calc(0rem - var(--toggle-thumb-gutter, 1.2rem) - var(--toggle-thumb-width, 0.125rem));
  padding: var(--toggle-thumb-gutter, 1.2rem);
  border: var(--toggle-thumb-width, 0.125rem) solid var(--toggle-thumb-color, #444);

}

.toggle-headline {
  display: block;
  text-align: center;
  color: var(--toggle-thumb-headline-color, #444);
}


