@import './custom.scss';

:host {
  box-sizing: content-box;

  // --: initial; /* reset all CSS custom properties */
  all: initial; /* reset all other CSS styles */

  font-family: $font-family;
  -webkit-font-smoothing: antialiased;

  display: inline-flex;

  color: var(--my-custom-var, $passive-heading-color);
  /*z-index: 5;*/
  background-color: none;
  text-align: center;
  padding: 0.25rem;
  cursor: pointer;

  transition: color .4s ease-out;

}

:host(:hover) {
  color: var(--my-other-custom-var, $active-heading-color);
}
